// display
output "eDP-1" {
    scale 1.67
    transform "normal"
    mode "2880x1800@120"
    variable-refresh-rate
}

// input
input {
    keyboard {
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.000000
        click-method "clickfinger"
    }
    mouse { accel-speed 1.000000; }
    trackpoint { accel-speed 0.000000; }
    trackball { accel-speed 0.000000; }
}

// cursor
cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 5000
}

screenshot-path "~/Pictures/Screenshots/Screenshot-from-%Y-%m-%d-%H-%M-%S.png"

prefer-no-csd

// overview
overview { backdrop-color "#000000"; }

// layout
layout {
    background-color "transparent"
    gaps 4
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring {
        width 0
        active-color "#3a3b3c00"
        inactive-color "rgb(80 80 80)"
    }
    border { off; }
    insert-hint { color "rgb(127 200 255 / 50%)"; }
    default-column-width
    center-focused-column "never"
    always-center-single-column
}

// remove overview
hotkey-overlay { skip-at-startup; }

// wayland display environment
environment { 
    DISPLAY ":0"; 
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    // install qt6-base
    QT_QPA_PLATFORMTHEME "gtk3"
    // install 	qadwaitadecorations-qt6
    QT_WAYLAND_DECORATION "adwaita"
    MOZ_ENABLE_WAYLAND "1"
    // QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

// keyboard bindings
binds {
    Mod+Return { spawn "ghostty"; }
    Alt+Shift+L { spawn "quickshell" "-c" "lockscreen"; }
    Mod+Shift+V repeat=false { spawn "vicinae" "vicinae://launch/clipboard/history"; }
    Alt+Period repeat=false { spawn "vicinae" "vicinae://launch/core/search-emojis"; }
    Alt+Shift+E repeat=false { spawn "vicinae" "vicinae://launch/power"; }
    Alt+Space repeat=false { spawn "vicinae" "toggle"; }

    // screenshot
    Print { screenshot; }
    Mod+Print { screenshot-window; }
    Mod+Shift+S { screenshot-screen; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+C { center-column; }
    Mod+Backspace { close-window; }
    Mod+Q { close-window; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Alt+F { toggle-window-floating; }
    Mod+Down { focus-window-or-workspace-down; }

    Mod+F { maximize-column; }
    Mod+R { switch-preset-column-width; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Escape { switch-focus-between-floating-and-tiling; }

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }

    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }

    Mod+Equal { set-column-width "+10%"; }
    Mod+Minus { set-column-width "-10%"; }

    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+R { switch-preset-window-height; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Shift+Tab { focus-window-up-or-column-left; }

    Mod+Tab { focus-window-down-or-column-right; }
    Mod+Up { focus-window-or-workspace-up; }

    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }

    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }

    Mod+XF86AudioRaiseVolume { spawn "brightnessctl" "set" "+5%"; }
    Mod+XF86AudioLowerVolume { spawn "brightnessctl" "set" "5%-"; }

    XF86Calculator { spawn "sh" "-c" "if pidof gnome-calculator > /dev/null; then kill -9 $(pidof gnome-calculator); else gnome-calculator; fi"; }
}

switch-events { lid-close { spawn "quickshell" "-c" "lockscreen"; }; }

// startup spawn
spawn-at-startup "awww-start"
spawn-at-startup "vicinae" "server"
spawn-at-startup "quickshell" "-c" "osd"
spawn-at-startup "quickshell" "-c" "topbar"
spawn-at-startup "flatpak" "run" "com.github.wwmm.easyeffects" "-w"
spawn-at-startup "nm-applet"
spawn-at-startup "swayidle" "-w"

// overview wallpaper
layer-rule {
    match namespace="wp-back"
    place-within-backdrop true

//     background-effect {
//         blur true
//     }
}

// layer-rule {
//     match namespace="way-edges-widget"
//     // opacity 0.5
//     background-effect {
//         blur true
//     }
// }

window-rule {
    draw-border-with-background true
    geometry-corner-radius 4.000000 4.000000 4.000000 4.000000
    clip-to-geometry true
    opacity 0.9
    background-effect {
        blur true
    }
}

window-rule {
    match is-focused=false
    opacity 0.7
    background-effect {
        blur true
    }
}

window-rule {
    match title="Firefox - Choose a profile"
    open-floating true
}

window-rule {
    match title="Typst Preview — Mozilla Firefox"
    opacity 1.0
    open-focused false
}

window-rule {
    match app-id="firefox$"
    opacity 1.0
}

window-rule {
    match app-id="helium$"
    // prefer-no-csd false
    opacity 1.0
}

window-rule {
    match app-id="ghostty$"
    open-maximized true
}

window-rule {
    match app-id="^signal$"
    block-out-from "screencast"
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

animations { slowdown 1.000000; }
