// =========== desktops ===========
workspace {
  ignore-exclusive
  edge "top"
  position "bottom"
  layer "overlay"
  monitor "eDP-1"
  thickness 15
  length "10%"
  focus-color "#afafaf"
  default-color "#000"
  hover-color "#ffffff"
  preset "niri" {
    // preserve-empty
  }
}

// =========== microphone ===========
slider {
  pinnable
  pin-with-key
  ignore-exclusive
  edge "top"
  monitor "eDP-1"
  layer "overlay"
  position "left"
  margins {
    left "12.5%"
  }
  preview-size 0
  thickness 30
  border-width 4
  length "12.5%"
  fg-color "#ffffff"
  redraw-only-on-internal-update
  preset "microphone"
}

// =========== speaker ===========
slider {
  pinnable
  pin-with-key
  ignore-exclusive
  edge "top"
  monitor "*"
  layer "overlay"
  position "left"
  preview-size 0
  thickness 30
  border-width 4
  length "12.5%"
  fg-color "#ffffff"
  redraw-only-on-internal-update
  preset "speaker"
}

// =========== battery ===========
wrap-box {
  pin-with-key
  pinnable
  ignore-exclusive
  edge "top"
  position "right"
  monitor "eDP-1"
  layer "overlay"
  margins {
    right "0.1%"
  }
  outlook "window" {
    border-radius 15
    border-width 4
    color "#000000"
    corners true true false false
    margins {
      top 3
      left 20
      right 20
      bottom 0
    }
  }
  item "text" {
    fg-color "#fff"
    font-size 25
    font-family "FantasqueSansM Nerd Font"
    event-map {
      mouse-left "swaync-client -t -sw"
    }
    preset "custom" {
      cmd "status=$(cat /sys/class/power_supply/BAT0/status 2>/dev/null); cap=$(cat /sys/class/power_supply/BAT0/capacity 2>/dev/null); thr=$(cat /sys/class/power_supply/BAT0/charge_control_end_threshold 2>/dev/null); [ \"$status\" = \"Charging\" ] && sym='󱐋' || sym='%'; echo \"${cap}/${thr}${sym}\""
      update-interval 1000
    }
  }
}

// =========== brightness ===========
slider {
  pinnable
  pin-with-key
  ignore-exclusive
  edge "top"
  monitor "eDP-1"
  layer "overlay"
  position "left"
  margins {
    left "25%"
  }
  preview-size 0
  thickness 30
  border-width 4
  length "12.5%"
  fg-color "#000000"
  redraw-only-on-internal-update
  preset "backlight"
}

// =========== time ===========
wrap-box {
  pin-with-key
  pinnable
  ignore-exclusive
  edge "top"
  position "right"
  monitor "eDP-1"
  layer "overlay"
  margins {
    right "5%"
  }
  outlook "window" {
    border-radius 15
    border-width 4
    color "#000000"
    corners true true false false
    margins {
      top 0
      left 20
      right 20
      bottom 0
    }
  }
  item "text" {
    fg-color "#fff"
    font-size 25
    font-family "FantasqueSansM Nerd Font"
    preset "time" {
      update-interval 500
      format "%v %T %A"
    }
  }
}

// =========== tray ===========
wrap-box {
  pin-with-key
  pinnable
  ignore-exclusive
  edge "top"
  position "right"
  monitor "eDP-1"
  layer "overlay"
  align "bottom-left"
  margins {
    right "19.75%"
  }
  outlook "window" {
    border-radius 15
    border-width 4
    color "#000000"
    corners true false false false
    margins {
      bottom 0
      left 20
      right 20
      top 0
    }
  }
  item "tray" {
    font-family "FantasqueSansM Nerd Font Mono"
    icon-size 25
    header-menu-stack "menu-top"
    header-menu-align "left"
    menu-draw-config {
      font-pixel-height 22
      text-color "#fff"
      border-color "#000"
    }
    header-draw-config {
      text-color "#fff"
    }
    grid-align "bottom-left"
  }
}
